.formCreateAndEdit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  animation: fadeInUp 1s ease forwards;
  margin: 2rem 5rem;
}

.titleImage {
  display: flex;
  gap: 1rem;
}

.form h2 {
  font-size: 2rem;
  font-weight: normal;
}

.form label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form strong {
  margin-bottom: 5px;
}

.form input,
.form textarea {
  background-color: var(--background-header);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.7rem;
  color: var(--primary-font);
}

.form textarea {
  height: 150px;
}

.form button {
  background-color: var(--color-green);
  color: var(--primary-font);
  padding: 0.7rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.form button:hover {
  background-color: #45a049;
}

.form button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

input:focus,
textarea:focus {
  border-color: var(--color-green);
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
  outline: none;
}

.postImage {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.createCount {
  text-align: center;
}

.createCount a {
  color: var(--color-blue);
}

.errorMessage {
  text-align: center;
  padding: 0.3rem;
  border-radius: 5px;
  color: var(--error);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
