.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--background-header);
}

.header h1 {
  font-size: 1.3rem;
}

.menu {
  display: none;
}

.navbarMobileBlock {
  display: none;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar a {
  font-weight: bold;
  height: 22px;
}

button {
  font-weight: bold;
  color: var(--primary-font);
}

.navbar a:hover {
  opacity: 0.8;
}

.active {
  border-bottom: 3px solid var(--primary-font);
}

.none {
  display: none;
}

@media (max-width: 678px) {
  .header {
    justify-content: space-between;
    position: relative;
  }

  .logo h1 {
    font-size: 1.2rem;
  }

  .menu {
    display: block;
    width: 25px;
    height: 25px;
  }

  .userName {
    font-size: .8rem;
  }

  .navbar {
    display: none;
  }

  .navbarMobileBlock {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 1.5rem;
    background-color: var(--background-header);
    font-weight: bold;
    z-index: 1;
  }

  .navbarMobileBlock ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
