.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #3D444D;
  background-color: #151b22;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.navbar a {
  font-weight: bold;
}

.navbar a:hover {
  opacity: .8;
}

.active {
  border-bottom: 3px solid #F0F6FC;
}
