.noPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}

.noPosts a {
  background-color: var(--background-header);
  border-radius: 5px;
  padding: 1rem;
  color: var(--primary-font);
  font-weight: bold;
  opacity: .8;
}

.noPosts a:hover {
  opacity: 1;
}
