.postContainer {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postContainer button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: var(--background-header);
  color: var(--primary-font);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 800px;
}

.principalImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
  height: 400px;
}

.content h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.content h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.content h3 {
  font-size: 1rem;
  margin: 1rem 0;
}

.content p {
  width: 800px;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.content img {
  text-align: center;
  margin: 1rem 0;
}


@media (max-width: 678px) {
  .postContainer {
  padding: 0 1rem 5rem 1rem;
}
}